body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
}
